/**
 * app.css
 */
  
 html,
body {
 height: 100%;
}

body {
 display: -ms-flexbox;
 display: flex;
 -ms-flex-align: center;
 align-items: left;
 padding: 40px;
 background-color: rgba(0,0,0,0.15);
}

.form-extractor {
 width: 100%;
 padding: 32px;
 margin: auto;
 text-align: left;
}
.form-extractor .checkbox {
 font-weight: 400;
}
.form-extractor .form-control {
 position: relative;
 box-sizing: border-box;
 height: auto;
 padding: 10px;
 font-size: 16px;
 margin: 18px;
}
.form-extractor .form-control:focus {
 z-index: 2;
}
.form-extractor input[type="email"] {
 margin-bottom: -1px;
 border-bottom-right-radius: 0;
 border-bottom-left-radius: 0;
}
.form-extractor input[type="password"] {
 margin-bottom: 10px;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
}

.card-extractor {
 display: inline-flex;
 max-width: 625px;
 width: 600px;
 margin: auto;
 background-color: #fff;
 box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.0725);
}

.card-extractor .card-title {
 text-align: left;
 font-size: 16px;
 color: #666;
 margin-bottom: 0px;
 padding-top: 8px;
 font-weight: 600;
}

.form-extractor .button {

}